@model IEnumerable<uDev.Models.Entity.Mission>
@{
    ViewData["Title"] = "Index";
}

<h1>Mission Select</h1>
@if (User.IsInRole("Customer"))
{
    <p><a asp-action="Create">Create new mission</a></p>
}
<div class="card-columns">
@foreach (var item in Model)
{
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
            <h6 class="card-subtitle mb-2 text-muted">Type: @Html.DisplayFor(modelItem => item.Category.Content) </h6>
            <p class="card-text">
                @Html.DisplayFor(model => item.Content)
            </p>
                <a asp-action="Details" asp-route-id="@item.MissionId" class="btn btn-primary">Se details</a>
                @if (item.Owner.UserName == User.Identity.Name)
                {
                    <a asp-action="Edit" asp-route-id="@item.MissionId" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.MissionId" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
}
    </div>